* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #faf8f6;
  color: #111;
}

/* Top Bar */
.top-bar {
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 8px 0;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #fff;
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.logo span {
  color: #b33939;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  position: relative;
}

.nav-links a.active {
  color: #111;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #b33939;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.header-right a {
  text-decoration: none;
  color: #111;
}

.header-right select {
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
}

.header-right .cart {
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  padding-right: 130px;
  padding-left: 130px;
  position: relative;
  background: #f3f2ee;
}

.hero-left {
  width: 50%;
}

.small-title {
  color: #b33939;
  font-size: 13px;
  text-transform:uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 600;
}

.hero-left h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: capitalize;

}

.desc {
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}

.shop-btn {
  background: #111;
  color: #fff;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
    text-transform:uppercase;

}

.shop-btn:hover {
    text-transform:uppercase;
    background: #b33939;
}

/* .socials {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  margin-right: 15px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 1rem;
} */

.socials {
  margin-top: 40px;
  display: flex;
  gap: 18px;
  align-items: center;
}

.socials a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  transition: 0.3s;
}

.socials a:hover {
  color: #b33939;
}

.socials ul,
.socials li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-right img {
  width: 450px;
  border-radius: 6px;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  color: #111;
  cursor: pointer;
}

.arrow.left {
  left: 40px;
}

.arrow.right {
  right: 40px;
}

/* Responsive */
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    flex-direction: column;
    padding: 40px;
    text-align: center;
  }

  .hero-left, .hero-right {
    width: 100%;
  }

  .hero-right img {
    width: 80%;
    margin-top: 40px;
  }

  .arrow {
    display: none;
  }
}
